{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <title>Test summernote</title>
  <meta name="description" value="Task manager" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href='{% static "css/main.css" %}'> -->

</head>
<body>
    
    <div>
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        {% for element in elements %}
                            <div>
                                {{ element.text|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  <script src='{% static 'js/script.js' %}'></script>
</html>